*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 1px;
    margin: 40px;
}
h1{

    background-color: #e0e0e0;
    color: #827f7a;
    border: 1px solid black;
    padding: 20px;
    margin: 40px;
}
.h3{
    background-color: #2d85c6;
    color: #e0e0e0;
}
.h3_1{
    background-color: #2d85c6;
    color: #aeb6be;
}
.h3_2{
    background-color: #2593d1;
    color: #b5c9d4;
}
.h3_3{
    background-color: #1d9dd8;
    color: #b5c9d4;
}
.h3_4{
    background-color: #6dbfea;
    color: #b5c9d4;

}
.h3_5{
    background-color: #91cbee;
    color: ;
}
.h3_6{
    background-color: #8fc5e7 ;
    color:  #b5c9d4;
}
.h3_7{
    background-color: #1bb584;
    color: #b5c9d4;
}
.h3_8{
       background-color: #f4b2d1;
       color:#b5c9d4 ;
}
.h3_9{
       background-color: #f39cc1;
       color: #b5c9d4;
}
.h3_10{
    background-color: #f38cb4;
    color: #b5c9d4;
    
}
.h3_11{
    background-color: #f179a6;
    color: #b5c9d4;
    
}
.h3_12{
    background-color: #f16896;
    color: #b5c9d4;
}
.h3_13{
    background-color: #f0598b;
    color: #b5c9d4;

}
.h3_14{
    background-color: #ef3b80;
    color: #b5c9d4;
}
